[mariadb]
log_error=/var/log/mysql/error.log
#general_log
#general_log_file=/var/log/mysql/mysql.log
#slow_query_log
#slow_query_log_file=/var/log/mysql/mysql-slow.log
#long_query_time=5
max_connections=100000
max_allowed_packet = 512M
wait_timeout=3000
